/* ==========================================================
   HEADER CONTAINER
========================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--color-bg-primary);
  z-index: 1000;
  transition: all var(--transition-time) ease;
  box-shadow: 0 2px 8px
    color-mix(in srgb, var(--color-bg-inverse) 25%, transparent);
}

/* Change logo color based on theme */
:root[data-theme='light'] .header {
  background-color: var(--color-primary);
}

:root[data-theme='dark'] .header {
  background-color: var(--color-bg-primary);
}
